*.json
*.py
.vscode/
bin/
capper/bin/
capper/firmware/
capper/include/okapi/
capper/include/pros/
capper/include/display/
*.mk
capper/Makefile
*.pros
shooter/bin/
shooter/firmware/
shooter/include/okapi/
shooter/include/pros/
shooter/include/display/
shooter/Makefile
